{:app-name             "BranchYard"
 :max-subdomain-length 63

 :db                   {:type "postgresql"
                        :host "localhost"
                        :port 5432
                        :name "postgres"}

 :server               {:port          8080
                        :join?         false
                        :min-threads   4
                        :max-threads   50
                        :max-idle-time 30000}}